body {
    background-color: #bdae63f6;
    font-family: Arial, sans-serif; 
    text-align: center;
}

h1 {
   font-size: 2em;
}
section {
    margin: 20px;
    padding: 20px;
}
img {
   border-radius: 50%;
   box-shadow: 2px 2px 5px #000000;  

}
li {
    list-style-type: none;
}
a {
    font-size: 1.5em;
    text-decoration: none;
    color: #7058d4;
}
a:hover {
    text-decoration: underline;
    color: #449bc4;
}